Source/Falcon.Core/IO/Schemas/BMSproj.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BMSproj"
    targetNamespace="http://tempuri.org/BMSproj.xsd"
    elementFormDefault="qualified"
    
    xmlns="Falcon/Core/IO/Schemas/BMSproj.xsd"
    xmlns:mstns="Falcon/Core/IO/Schemas/BMSproj.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="Project">

    <xs:sequence>
      <xs:element name="Description" minOccurs="0" maxOccurs="1" type="xs:string" />
    </xs:sequence>

    <xs:attribute name="Name" type="xs:string" use="required" />
    
  </xs:complexType>
</xs:schema>
